<form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="row g-3 m-5">
    <div class="m-3">
        <label class="form-label">FIRST NAME: </label>
        <input formControlName="firstName" type="text" class="form-control" placeholder="First Name">
        <small *ngIf="controls.firstName.touched && controls.firstName.errors?.required" class="text-danger">
            * Field is required
        </small>
        <small *ngIf="controls.firstName.touched && controls.firstName.errors?.pattern" class="text-danger">
            * Name should contain only charecters more than 5 but not numbers
        </small>
    </div>
    <div class="m-3">
        <label class="form-label">LAST NAME: </label>
        <input formControlName="lastName" type="text" class="form-control" placeholder="Last Name">
        <small *ngIf="controls.lastName.touched && controls.lastName.errors?.required" class="text-danger">
            * Field is required
        </small>
        <small *ngIf="controls.lastName.touched && controls.lastName.errors?.pattern" class="text-danger">
            * Name should contain only charecters more than 5 but not numbers
        </small>
    </div>
    <div class="m-3">
        <label class="form-label">PHONE NUMBER: </label>
        <input formControlName="phoneNumber" type="number" class="form-control" placeholder="Phone Number">
        <small *ngIf="controls.phoneNumber.touched && controls.phoneNumber.errors?.required" class="text-danger">
            * Field is required
        </small>
    </div>
    <div class="m-3">
        <label class="form-label">SELECT COUNTRY: </label>
        <select formControlName="country" class="form-select" aria-label="Default select example">
            <option value="1">INDIA</option>
            <option value="2">USA</option>
            <option value="3">CANADA</option>
        </select>
        <small *ngIf="controls.country.touched && controls.country.errors?.required" class="text-danger">
            * Field is required
        </small>
    </div>
    <button [disabled]="!registerForm.valid" type="submit" class="btn btn-primary mt-5">SUBMIT</button>
</form>