<form #anagramForm="ngForm" (ngSubmit)="onCheckAnagram(anagramForm)" class="row g-3 m-5">
    <div class="m-3">
        <label class="form-label">FIRST WORD: </label>
        <input #firstWord="ngModel" ngModel name="firstWord" type="text" class="form-control" placeholder="First Word"
            required>
    </div>
    <div class="m-3">
        <label class="form-label">SECOND WORD: </label>
        <input #secondWord="ngModel" ngModel name="secondWord" type="text" class="form-control"
            placeholder="Second Word" required>
    </div>
    <small *ngIf="error" class="text-danger">
        {{error}}
    </small>
    <button [disabled]="!anagramForm.valid" type="submit" class="btn btn-primary mt-5">SUBMIT</button>
</form>